@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors */
:root {
  --dark: #0e0e1b;
  --light: #ffffff;
  --accent: #ff6b4a;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.text-orange-400 {
  color: var(--accent);
}

.border-orange-400 {
  border-color: var(--accent);
}

.bg-orange-500 {
  background-color: var(--accent);
}

.hover\:bg-orange-600:hover {
  background-color: #e14f34;
}

.hover\:text-orange-400:hover {
  color: var(--accent);
}

.hover\:bg-orange-400:hover {
  background-color: var(--accent);
}
